@media screen and (min-width: 1279px) {
  .homeWrapper {
    background-color: rgb(40, 42, 54);
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 600px;
    margin-top: 70px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .homeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .homeSubtitleWrapper {
    display: flex;
    gap: 10px;
  }
  
  .homeSubtitle {
    color: rgb(109, 183, 85);
    font-style: italic;
  }
  
  .homeTitleWrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .homeTitle {
    color: rgb(117, 202, 231);
    padding-left: 30px;
    font-size: 32px;
    white-space: nowrap;
  }
  
  .homeTitleSpecialCharacter {
    color: rgb(237, 109, 133);
    font-size: 32px;
  }
  
  .homeDescription {
    color: rgb(191, 143, 190);
    padding-left: 30px;
  }
  
  .homeSocialMediaButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 35px;
    width: 70%;
    height: 100px;
  }

  /* .github {
    background-color: white;
    border-radius: 25%;
    border: 5px solid white;
    color: black;
  }

  .linkedin {
    background-color: white;
    border-radius: 25%;
    border: 5px solid white;
    color: rgb(14, 118, 168);
  } */

  .homeImageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* .homeButtonWapper {
    align-items: center;
    background-color: rgb(25, 26, 33);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-bottom: 230px;
    margin-top: 230px;
    min-width: 160px;
    width: 70%;
  } */
  
  /* .aboutMeButton {
    color: white;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    white-space: nowrap;
  } */

  .contentWrapper {
    background-color: rgb(40, 42, 54);
    height: 100%;
  }

  .aboutMeContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 15%;
    padding-right: 15%;
    gap: 40px;
    margin-top: 50px;
  }
}