.fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: rgb(25, 26, 33);
  max-width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

.specialCharacter {
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.headerTitle {
  color: rgb(237, 109, 133);
  font-size: 32px;
  font-weight: 700;
}

.headerNavWrapper {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 50px;
}

.specialNavCharacter {
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.headerNav {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: rgb(117, 202, 231);
}

.headerNav:hover {
  text-decoration: underline;
}